.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
a{color:#fff!important;}
html[xmlns] .clearfix {display: block;} 
* html .clearfix {	height: 1%;}
body{}
header{background:#7199c8;padding:15px;color:#fff;-webkit-box-shadow:0px 0px 5px 2px #505050;box-shadow:0px 0px 5px 2px #505050;}
.logo img{max-width:47%;margin-left:45px;}
.hd-tp{text-align:right;}
.login-frm{background:#7199c8;margin:0px auto;margin-top:60px;margin-bottom:75px;-webkit-border-radius: 12px;border-radius:12px;padding-bottom:15px;color:#F1F1F1;-webkit-box-shadow: 2px 3px 11px 1px #505050;box-shadow: 2px 3px 11px 1px #505050;padding: 5px;}
.login-frm legend{border-bottom:1px solid #B4B7C2!important;background:rgba(152, 177, 206, 0.58);padding-top:7px;color:#524949;text-align:center;border-top-left-radius:12px;border-top-right-radius:12px;color:#463A3A;}
footer{background:#7199c8;padding:15px;color:#fff;}
.nav-tabs li:hover{top: -8px;}
.content1{margin:30px 0 0 20px;}
.border{border-bottom:6px solid #7199c8;}
.c_action{padding:15px;width:37%;}
.page-body{min-height:680px;}
.thank{margin:30px 0px;}.thank h3{font-weight:bold;color:#524949;margin: 75px 0px;}.thank a{color:#524949!important;}
#external-events {float: left;width: 20%;padding: 0 7px;border: 1px solid #ccc;background: #eee;text-align: left;margin-top: 5%;}	
#external-events h4 {font-size: 16px;margin-top: 0;padding-top: 1em;}		
.external-event { /* try to mimick the look of a real event */margin: 10px 0;padding: 2px 4px;background: #3366CC;color:#fff;font-size:.85em;cursor: pointer;}	
#external-events p {margin: 1.5em 0;font-size: 11px;color: #666;}
#external-events p input {margin: 0;vertical-align: middle;}
#calendar {float: right;width: 75%;margin-bottom: 20px;}
.r-arrow{transform:rotate(180deg);
-ms-transform:rotate(180deg); /* IE 9 */
-webkit-transform:rotate(180deg); /* Safari and Chrome */}.arrow{margin-top: 5%;}
@media (max-width: 767px) {
.r-arrow{transform:rotate(90deg);
-ms-transform:rotate(90deg); /* IE 9 */
-webkit-transform:rotate(90deg); /* Safari and Chrome */position: relative;left:50%;}
.l-arrow{transform:rotate(270deg);
-ms-transform:rotate(270deg); /* IE 9 */
-webkit-transform:rotate(270deg); /* Safari and Chrome */position: relative;left: 43%;}
.arrow{margin-top:0%;}
 }
